body {
    text-align: center;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 6px;
}

.todo-default { background: #f2f2f2; }
.todo-red     { background: #ffcccc; }
.todo-yellow  { background: #fff3b0; }
.todo-green   { background: #d4f8d4; }




.done {
    text-decoration: line-through;
    color: gray;
}

#todoList {
    width: 100%;
    padding: 0;
}

